[submodule "vim/autoload/vim-pathogen"]
	path = vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/edge"]
	path = vim/bundle/edge
	url = https://github.com/sainnhe/edge
[submodule "vim/bundle/plastic.vim"]
	path = vim/bundle/plastic.vim
	url = https://github.com/flrnprz/plastic.vim
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/bundle/vim-buftabline"]
	path = vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim/bundle/jsonc.vim"]
	path = vim/bundle/jsonc.vim
	url = https://github.com/neoclide/jsonc.vim
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "vim/bundle/--force"]
	path = vim/bundle/--force
	url = https://github.com/ajh17/VimCompletesMe
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
