[submodule "home/.vim/autoload/vim-pathogen"]
	path = home/.vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "home/.vim/bundle/edge"]
	path = home/.vim/bundle/edge
	url = https://github.com/sainnhe/edge
[submodule "home/.vim/bundle/vim-vinegar"]
	path = home/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "home/.vim/bundle/vim-buftabline"]
	path = home/.vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "home/.vim/bundle/jsonc.vim"]
	path = home/.vim/bundle/jsonc.vim
	url = https://github.com/neoclide/jsonc.vim
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "home/.vim/bundle/lightline.vim"]
	path = home/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "home/.vim/bundle/vim-abolish"]
	path = home/.vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "home/.vim/bundle/--force"]
	path = home/.vim/bundle/--force
	url = https://github.com/ajh17/VimCompletesMe
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "home/.vim/bundle/SimpylFold"]
	path = home/.vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "home/.vim/bundle/gruvbox"]
	path = home/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
